<div>
    <h1> New Post</h1>
    <a href="/">Home</a>
    <form class="divs">
        <h2>Title:</h2>
        <input id="title" type="textarea">
        <h2>description</h2>
        <input id="body-post" type="textarea" style="height: 100px; resize: none;">
        <button id='newPost' type="submit"><a href="/dashboard"></a>Submit</button>
    </form>

    {{!-- <a href="/">Home</a> --}}
</div>
<script src="/js/newpost.js"></script>