body {
    background-color: rgb(172, 193, 213);
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .card {
        border: 5px solid #544c3d;
        padding: 10px;
        margin-bottom: 10px;
        background-color: bisque;
        /* margin-right: 50%; */
    }
